<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            {{!-- <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                    here to enter your code.</h6>
            </div> --}}
        </div>
        <form class="checkout__form" id="checkout-formI">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Billing detail</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>First Name <span>*</span></p>
                                <input type="text" name="name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Last Name <span>*</span></p>
                                <input type="text" name="name">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Country <span>*</span></p>
                                <input type="text" name="country">
                            </div>
                            <div class="checkout__form__input">
                                <p>Address <span>*</span></p>
                                <input type="text" placeholder="Street Address" name="adress">
                                {{!-- <input type="text" placeholder="Apartment. suite, unite ect ( optinal )"> --}}
                            </div>
                            <div class="checkout__form__input">
                                <p>Town/City <span>*</span></p>
                                <input type="text" name="city">
                            </div>
                            <div class="checkout__form__input">
                                <p>State <span>*</span></p>
                                <input type="text" name="state">
                            </div>
                            <div class="checkout__form__input">
                                <p>Postcode <span>*</span></p>
                                <input type="text" name="pincode">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Phone <span>*</span></p>
                                <input type="number" name="mobile">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Email <span>*</span></p>
                                <input type="text" name="email">
                                <input type="text" name="userId" id="" value="{{users._id}}" hidden>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__order">
                        {{!-- <h5>Your order</h5> --}}
                        {{!-- <div class="checkout__order__product"> --}}
                            {{!-- <ul> --}}
                                {{!-- <li> --}}
                                    {{!-- <span class="top__text">Product</span> --}}
                                    {{!-- <span class="top__text__right">Total</span> --}}
                                {{!-- </li> --}}
                                {{!-- <li> <span>Rs{{total}}</span></li> --}}
                                {{!-- <li>02. Zip-pockets pebbled<br /> tote briefcase <span>$ 170.0</span></li>
                                <li>03. Black jean <span>$ 170.0</span></li>
                                <li>04. Cotton shirt <span>$ 110.0</span></li> --}}
                            {{!-- </ul> --}}
                        {{!-- </div> --}}
                        <div class="checkout__order__total">
                            <ul>
                                {{!-- <li>Subtotal <span>$ 750.0</span></li> --}}
                                <li>Total <span>Rs.{{total}}</span></li>
                            </ul>
                        </div>
                        <div class="checkout__order__widget">
                            {{!-- <label for="o-acc">
                                Create an acount?
                                <input type="checkbox" id="o-acc">
                                <span class="checkmark"></span>
                            </label> --}}
                            {{!-- <p>Create am acount by entering the information below. If you are a returing customer
                                login at the top of the page.</p> --}}
                            <label for="check-payment">
                                COD
                                <input type="radio" id="check-payment" name="payment-method" value="COD" required >
                                <span class="checkmark"></span>
                            </label>
                            <label for="paypal">
                                Online
                                <input type="radio" id="paypal" name="payment-method" value="online" required >
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <button type="submit" class="site-btn">Place oder</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->
<script>
    $("#checkout-formI").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-formI').serialize(),
            success: (response) => {
                //  {{!-- alert(response) --}}
                if (response.codSuccess) {
                    location.href = ('/user-order')
                } else {
                    razorpayPayment(response)
                }

            }
        })
    })
    function razorpayPayment(order) {
        alert(order)
        var options = {
            "key": "rzp_test_JHdlf0ZYNHXef9", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
               // alert(response.razorpay_payment_id);
                //alert(response.razorpay_order_id);
              //  alert(response.razorpay_signature)

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }

        };
      var rzp1 = new Razorpay(options);
         rzp1.open();
    }
    
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success:(response)=>{
                if(response.status){
                    {{!-- alert('suc') --}}
               location.href = ('/user-order')

                }else{
                    alert('payment faild')
                }
            }
        })
    } 
</script>