<div class="container  text-center pt-5 mt-5" style="background: none;">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcVZ3sU_FjNWLh8uASOfQLTzgsI669zQZ87w&usqp=CAU" style="width: 200px; height: 200px;" alt="">
    <h2> Empty!!</h2> <br> 
    <h5 class="" style="padding-bottom: 5rem;"><a href="/" class="btn btn-warning">Continue Shopping..</a></h5>
</div>