<section class="vh-100 bg-image" style="background-image: url('/images/loginbac.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-left align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5  ">
              <h2 class="text-uppercase text-center mb-5"><b>Login</b></h2>
              {{#if logginErr}}
              <p class="text-danger">{{logginErr}}</p>
              {{/if}}

              <form action="/login" method="post" class="text-danger" id="login">

                <div class="form-outline mb-4">
                  <label class="form-label text-dark" for="form3Example3cg"> Email</label>

                  <input type="email" id="form3Example3cg" name="Email" class="form-control form-control-lg" required />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label text-dark" for="form3Example4cg">Password</label>

                  <input type="password" id="form3Example4cg" name="password" class="form-control form-control-lg"
                    required />
                </div>



                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body ">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0"> Create Account<a href="/signup"
                    class="fw-bold text-body"><u><b>Signup here</b></u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js">
</script>
<script>
  $("#login").validate();
</script>