<div class="jumbotron text-center" style="min-height: 100vh; padding-top:30vh ;">
  <h1 class="display-3 text-success ">Order successful</h1>
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please visit again</strong> </p>
  
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a><br>
    <a class="btn btn-primary btn-sm m-4" href="/orders" role="button">Show Order </a>
  </p>
</div>